/* css */
body {
    background: rgb(255, 178, 91);
}

.wrapper {
    display: flex;
    flex-direction: column;
}

.container{
    min-height: 100%;
    margin-left: auto;
    margin-right: auto;  
}

.header{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

h1 {
   color: rgb(246, 253, 255); 
}
.textinput[type="text"] {
    height: 25px;
    weight: 60px;
    align-items: center;
}

li{
    background-color: rgb(71, 203, 255);
    background: linear-gradient(180deg, rgba(71,203,255,1) 30%, rgba(158,228,255,1) 78%, rgba(255,255,255,1) 100%);
    padding: 30;
    margin: 15;
}